<ion-content>
  <app-header></app-header>
  <!-- category items lists -->
  <ion-grid class="items">
    <ion-row class="row">
      <ion-button>
        <ion-col>
          <a href="detergent"> <p>Liquid Detergents</p></a>
        </ion-col>
      </ion-button>
      <ion-button>
        <ion-col>
          <a href="detergent-powder">
            <p>Detergent Powder</p>
          </a>
        </ion-col>
      </ion-button>

      <ion-button>
        <ion-col>
          <a href="toilet-cleaner">
            <p>Toilet Cleaners</p>
          </a>
        </ion-col>
      </ion-button>
      <ion-button>
        <ion-col>
          <a href="">
            <p>Kitchen Cleaning</p>
          </a>
        </ion-col>
      </ion-button>
      <ion-button>
        <ion-col>
          <a href="">
            <p>Fresheners</p>
          </a>
        </ion-col>
      </ion-button>
      <ion-button>
        <ion-col>
          <a href="">
            <p>Tea Leaf</p>
          </a>
        </ion-col>
      </ion-button>
      <ion-button>
        <ion-col>
          <a href="">
            <p>Shoe care</p>
          </a>
        </ion-col>
      </ion-button>
      <ion-button>
        <ion-col>
          <a href="">
            <p>Top Picks</p>
          </a>
        </ion-col>
      </ion-button>
    </ion-row>
  </ion-grid>

  <!-- category items lists 1 items -->
  <ion-grid>
    <ion-row class="row">
      <ion-col>
        <h2>Toilet Cleaners :</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <div class="cover item-a">
                <div class="card-back">
                  <a href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <h1 style="font-size: 12px; color: gray">
              <b>Sanifresh Toilet Cleaner</b><br /><br /><br>
              <span
                style="
                  font-family: Verdana, Geneva, Tahoma, sans-serif;
                  color: black;
                "
                ><b>Rs 214</b></span
              >
            </h1>
          </div>
        </div>
      </ion-col>

      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-b">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Harpic Flushmatic Toilet Cleaner Blocks - Marine </b
            ><br /><br /><span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 201</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-c">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b> Harpic Drain Cleaner Powder - Sink & Pipe Cleaner For Drainage Block</b
            ><br /><br /><span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 180</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-d">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Harpic Bathroom Cleaner Liquid - Lemon, Removes Bathroom Stains</b><br /><br />
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 323</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-e">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b> Sanifresh Advance Liquid Toilet Cleaner with Odonil Air Freshner  </b><br /><br />
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 162</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-f">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Harpic Bathroom Cleaner Liquid - Lemon, Removes Bathroom Stains</b><br /><br />
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 180</b></span
            >
          </h1>
        </div>
      </ion-col>
    </ion-row></ion-grid
  >

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <div class="cover item-g">
                <div class="card-back">
                  <a href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <h1 style="font-size: 12px; color: gray">
              <b>Harpic Toilet Cleaner Liquid - Original</b><br /><br />
              <span
                style="
                  font-family: Verdana, Geneva, Tahoma, sans-serif;
                  color: black;
                "
                ><b>Rs 196</b></span
              >
            </h1>
          </div>
        </div>
      </ion-col>

      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-h">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Harpic Flushmatic Toilet Cleaner Blocks - Lavender</b><br /><br />
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 201</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-i">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Harpic Power Fresh 6 Toilet Cleaner </b><br /><br /><br>
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 170</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-j">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b
              >Harpic Flushmatic Toilet Cleaner Blocks - Marine
            </b>
            <br /><br /><span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 357</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-k">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Domestos Rim Block Chlorine</b><br /><br /><br>
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 279</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-l">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Domestos Rim Block Ocean Scent</b><br /><br /><br>
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 279</b></span
            >
          </h1>
        </div>
      </ion-col>
    </ion-row></ion-grid
  >

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <div class="cover item-m">
                <div class="card-back">
                  <a href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <h1 style="font-size: 12px; color: gray">
              <b>Dew Fresh Toilet Cleaner Liquid </b><br /><br />
              <span
                style="
                  font-family: Verdana, Geneva, Tahoma, sans-serif;
                  color: black;
                "
                ><b>Rs 99</b></span
              >
            </h1>
          </div>
        </div>
      </ion-col>

      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-n">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Harpic Bathroom Cleaner Liquid - Floral, Removes Bathroom Stains</b
            ><br /><br />
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 105</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-o">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b
              >Dklog Drain Cleaner Buy 4 Get 1 Free Pack</b
            ><br /><br />
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 100</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-p">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Harpic Bleach Toilet Cleaner Liquid </b>
            <br /><br /><br><span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 95</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-q">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Wonder Fresh Flushmatic Toilet Cleaner Blocks 50 gms Combo</b><br /><br />
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 122</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-r">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Wonder Fresh Flushmatic Toilet Cleaner Blocks</b><br /><br />
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 112</b></span
            >
          </h1>
        </div>
      </ion-col>
    </ion-row></ion-grid
  >

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <div class="cover item-s">
                <div class="card-back">
                  <a href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <h1 style="font-size: 12px; color: gray">
              <b>Dew Fresh Bathroom Cleaner </b><br /><br /><br>
              <span
                style="
                  font-family: Verdana, Geneva, Tahoma, sans-serif;
                  color: black;
                "
                ><b>Rs 99</b></span
              >
            </h1>
          </div>
        </div>
      </ion-col>

      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-t">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Wonder Fresh Drain Cleaner</b><br /><br /><br>
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 136</b></span
            >
          </h1>
        </div>
      </ion-col>
    </ion-row></ion-grid
  ><app-footer></app-footer>
</ion-content>
