<ion-content>
  <app-header></app-header>
  <!-- category items lists -->
  <ion-grid class="items">
    <ion-row class="row">
      <ion-button>
        <ion-col>
          <a href="detergent"> <p>Liquid Detergents</p></a>
        </ion-col>
      </ion-button>
      <ion-button>
        <ion-col>
          <a href="detergent-powder">
            <p>Detergent Powder</p>
          </a>
        </ion-col>
      </ion-button>

      <ion-button>
        <ion-col>
          <a href="toilet-cleaner">
            <p>Toilet Cleaners</p>
          </a>
        </ion-col>
      </ion-button>
      <ion-button>
        <ion-col>
          <a href="">
            <p>Kitchen Cleaning</p>
          </a>
        </ion-col>
      </ion-button>
      <ion-button>
        <ion-col>
          <a href="">
            <p>Fresheners</p>
          </a>
        </ion-col>
      </ion-button>
      <ion-button>
        <ion-col>
          <a href="">
            <p>Tea Leaf</p>
          </a>
        </ion-col>
      </ion-button>
      <ion-button>
        <ion-col>
          <a href="">
            <p>Shoe care</p>
          </a>
        </ion-col>
      </ion-button>
      <ion-button>
        <ion-col>
          <a href="">
            <p>Top Picks</p>
          </a>
        </ion-col>
      </ion-button>
    </ion-row>
  </ion-grid>
<!-- category items lists 1 items -->
  <ion-grid>
    <ion-row class="row">
      <ion-col>
        <h2>Liquid Detergents :</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <div class="cover item-a">
                <div class="card-back">
                  <a href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <h1 style="font-size: 12px;color: gray;">
              <b>Ariel Matic Top Load <br />Liquid Detergent</b><br /><br />
              <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;"
                ><b>Rs 396</b></span
              >
            </h1>
          </div>
        </div>
      </ion-col>

      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-b">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px;color: gray;">
            <b>Surf Excel Smart & Surf Excel <br />Liquid Detergent</b
            ><br /><br /><span style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;"
              ><b>Rs 690</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-c">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px;color: gray;">
            <b
              >Ariel Matic Front Load Liquid<br />
              Detergent</b
            ><br /><br><span style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;"
              ><b>Rs 461</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-d">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px;color: gray;">
            <b>Surf Excel Matic Liquid Detergent Front Load Pouch</b><br /><br>
            <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;"
              ><b>Rs 573</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-e">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px;color: gray;">
            <b>Surf Excel Matic Top Load Liquid Detergent </b><br /><br>
            <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;"
              ><b>Rs 313</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-f">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px;color: gray;">
            <b>Ujala Supreme </b><br /><br /><br>
            <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;"
              ><b>Rs 80</b></span
            >
          </h1>
        </div>
      </ion-col>
    </ion-row></ion-grid
  >

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <div class="cover item-g">
                <div class="card-back">
                  <a href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <h1 style="font-size: 12px;color: gray;">
              <b>Godrej Ezee 1Kg Bottle + 2 X 1Kg Refill Pouch</b><br /><br>
              <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;"
                ><b>Rs 520</b></span
              >
            </h1>
          </div>
        </div>
      </ion-col>

      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-h">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px;color: gray;">
            <b>Comfort After Wash Morning <br />Fresh Fabric Conditioner</b
            ><br /><br>
            <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;"
              ><b>Rs 408</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-i">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px;color: gray;">
            <b>Godrej Genteel Matic Top Load Liquid Detergent</b><br /><br>
            <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;"
              ><b>Rs 276</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-j">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px;color: gray;">
            <b>Comfort In-Wardrobe Premium Fragrance Hangers </b>
            <br /><br><span style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;"
              ><b>Rs 280</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-k">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px;color: gray;">
            <b>Henko Matic Liquid Detergent <br />Top Load </b><br /><br>
            <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;"
              ><b>Rs 220</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-l">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1
            style="
              font-size: 12px;
              color: gray;
            "
          >
            <b>Comfort After Wash Lily <br />Fresh Fabric Conditioner</b><br /><br>
            <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;"
              ><b>Rs 188</b></span
            >
          </h1>
        </div>
      </ion-col>
    </ion-row></ion-grid
  >

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <div class="cover item-m">
                <div class="card-back">
                  <a href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <h1 style="font-size: 12px;color: gray;">
              <b>Henko Matic Liquid Detergent Front Load </b><br /><br>
              <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;"
                ><b>Rs 329</b></span
              >
            </h1>
          </div>
        </div>
      </ion-col>

      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-n">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px;color: gray;">
            <b>Vanish Liquid - Stain Remover & Detergent Booster For Clothes</b
            ><br /><br>
            <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;"
              ><b>Rs 115</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-o">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px;color: gray;">
            <b>Comfort After Wash Morning Fresh Fabric Conditioner</b><br /><br>
            <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;"
              ><b>Rs 188</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-p">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px;color: gray;">
            <b
              >Vanish Liquid - Stain Remover & Detergent Booster For Clothes
            </b>
            <br /><br><span style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;"
              ><b>Rs 200</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-q">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px;color: gray;">
            <b>Rin Fabric Whitener Detergent</b><br /><br /><br>
            <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;"
              ><b>Rs 89</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-r">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1
            style="
              font-size: 12px;
             color: gray;
            "
          >
            <b>Softouch Fabric Conditioner Ocean Breeze</b><br /><br>
            <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;"
              ><b>Rs 224</b></span
            >
          </h1>
        </div>
      </ion-col>
    </ion-row></ion-grid
  >

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <div class="cover item-s">
                <div class="card-back">
                  <a href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <h1 style="font-size: 12px;color: gray;">
              <b>Surf Excel Easy Wash Detergent Liquid </b><br /><br>
              <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;"
                ><b>Rs 205</b></span
              >
            </h1>
          </div>
        </div>
      </ion-col>

      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-t">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px;color: gray;">
            <b>Softouch Fabric Conditioner <br />2X French Perfume Buy </b
            ><br /><br>
            <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: black;"
              ><b>Rs 224</b></span
            >
          </h1>
        </div>
      </ion-col>
    </ion-row></ion-grid
  > <app-footer></app-footer>
</ion-content>
