ion-button {
  --border-radius: 50px;
  --color: #fff;
  --background: white;
  --padding-start: 10px;
  --padding-top:0px;
  --padding-bottom:0px;
}

.row{
  a {
    // background: transparent;
    color: purple;
    padding: 1px 1px;
    text-decoration: none;
    &:hover {
      color: red;
    }
  }
}

.items {
  margin-top: 80px;
}
.row {
  margin-left: 40px;
}
p {
  white-space: nowrap;
}
ion-col a {
  text-decoration: none;
  color: #71308d;
}
ion-card-title {
  font-weight: bold;
  font-size: 15px;
}
ion-card-content button {
  font-weight: bold;
  color: red;
}

$transition-time: 2.3s;

body {
  font-family: "Oswald", sans-serif;
  background-color: #212121;
  section {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    .row {
      align-items: center;
      height: 100vh;
    }
  }
}
.card {
  position: relative;
  height: 150px;
  width: 100%;
  margin: 10px 0;
  transition: ease all $transition-time;
  perspective: 1200px;
  &:hover {
    .cover {
      transform: rotateX(0deg) rotateY(-180deg);
      &:before {
        transform: translateZ(30px);
      }
      &:after {
        background-color: black;
      }
      h1 {
        transform: translateZ(100px);
      }
      .price {
        transform: translateZ(60px);
      }
      a {
        transform: translateZ(-60px) rotatey(-180deg);
      }
    }
  }

  .cover {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: ease all $transition-time;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    &:before {
      content: "";
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      z-index: 2;
      transition: ease all $transition-time;
      transform-style: preserve-3d;
      transform: translateZ(0px);
    }
    &:after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 2;
      transition: ease all 1.3s;

    }
    &.item-a {
      background-image: url("/assets/1.webp");
      height: 150px;
      width: 120px;
    }
    &.item-b {
      background-image: url("/assets/2.jpg");
      height: 150px;
      width: 200px;
    }
    &.item-c {
      background-image: url("/assets/5.webp");
      height: 150px;
      width: 180px;
    }
    &.item-d {
      background-image: url("/assets/3.jpeg");
      height: 150px;
      width: 180px;
    }
    &.item-e {
      background-image: url("/assets/4.webp");
      height: 150px;
      width: 180px;
    }
    &.item-f {
      background-image: url("/assets/6.jpeg");
      height: 150px;
      width: 180px;
    }
    &.item-g {
      background-image: url("/assets/7.webp");
      height: 150px;
      width: 180px;
    }
    &.item-h {
      background-image: url("/assets/8.webp");
      height: 150px;
      width: 180px;
    }
    &.item-i {
      background-image: url("/assets/9.jpeg");
      height: 150px;
      width: 180px;
    }
    &.item-j {
      background-image: url("/assets/10.jpeg");
      height: 150px;
      width: 180px;
    }
    &.item-k {
      background-image: url("/assets/11.webp");
      height: 150px;
      width: 180px;
    }
    &.item-l {
      background-image: url("/assets/12.webp");
      height: 150px;
      width: 180px;
    }
    &.item-m {
      background-image: url("/assets/13.webp");
      height: 150px;
      width: 180px;
    }
    &.item-n {
      background-image: url("/assets/14.webp");
      height: 150px;
      width: 180px;
    }
    &.item-o {
      background-image: url("/assets/15.webp");
      height: 150px;
      width: 180px;
    }
    &.item-p {
      background-image: url("/assets/16.jpeg");
      height: 150px;
      width: 180px;
    }
    &.item-q {
      background-image: url("/assets/17.jpeg");
      height: 150px;
      width: 180px;
    }
    &.item-r {
      background-image: url("/assets/18.jpeg");
      height: 150px;
      width: 180px;
    }
    &.item-s {
      background-image: url("/assets/19.jpeg");
      height: 150px;
      width: 180px;
    }
    &.item-t {
      background-image: url("/assets/20.jpeg");
      height: 150px;
      width: 180px;
    }

    h1 {
      font-weight: 600;
      position: absolute;
      bottom: 10px;
      left: 30px;
      white-space: nowrap;
      color: white;
      transform-style: preserve-3d;
      transition: ease all $transition-time;
      z-index: 3;
      font-size: 3em;
      transform: translateZ(0px);
    }

  }
  .card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    transform-style: preserve-3d;
    transition: ease all $transition-time;
    transform: translateZ(-1px);
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      transform-style: preserve-3d;
      transition: ease transform $transition-time, ease background 0.5s;
      transform: translateZ(-1px) rotatey(-180deg);
      background: transparent;
      border: 1px solid red;
      font-weight: 200;
      font-size: 1em;
      color: red;
      padding: 14px 12px;
      outline: none;
      text-decoration: none;
      &:hover {
        background-color: red;
        color: #0b0f08;
      }
    }
  }
}
