<ion-content>
  <app-header></app-header>
  <!-- category items lists -->
  <ion-grid class="items">
    <ion-row class="row">
      <ion-button>
        <ion-col>
          <a href="detergent"> <p>Liquid Detergents</p></a>
        </ion-col>
      </ion-button>
      <ion-button>
        <ion-col>
          <a href="detergent-powder">
            <p>Detergent Powder</p>
          </a>
        </ion-col>
      </ion-button>

      <ion-button>
        <ion-col>
          <a href="toilet-cleaner">
            <p>Toilet Cleaners</p>
          </a>
        </ion-col>
      </ion-button>
      <ion-button>
        <ion-col>
          <a href="">
            <p>Kitchen Cleaning</p>
          </a>
        </ion-col>
      </ion-button>
      <ion-button>
        <ion-col>
          <a href="">
            <p>Fresheners</p>
          </a>
        </ion-col>
      </ion-button>
      <ion-button>
        <ion-col>
          <a href="">
            <p>Tea Leaf</p>
          </a>
        </ion-col>
      </ion-button>
      <ion-button>
        <ion-col>
          <a href="">
            <p>Shoe care</p>
          </a>
        </ion-col>
      </ion-button>
      <ion-button>
        <ion-col>
          <a href="">
            <p>Top Picks</p>
          </a>
        </ion-col>
      </ion-button>
    </ion-row>
  </ion-grid>

  <!-- category items lists 1 items -->
  <ion-grid>
    <ion-row class="row">
      <ion-col>
        <h2>Detergent Powder :</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <div class="cover item-a">
                <div class="card-back">
                  <a href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <h1 style="font-size: 12px; color: gray">
              <b>Ariel Detergent Washing Powder - Matic Top Load</b><br /><br />
              <span
                style="
                  font-family: Verdana, Geneva, Tahoma, sans-serif;
                  color: black;
                "
                ><b>Rs 1265</b></span
              >
            </h1>
          </div>
        </div>
      </ion-col>

      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-b">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Ariel Detergent WashingPowder MaticFrontLoad </b
            ><br /><br /><span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 1380</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-c">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b> Surf Excel Matic Front Load Detergent Powder</b
            ><br /><br /><span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 1180</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-d">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Surf Excel Matic Top Load Detergent Powder</b><br /><br />
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 378</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-e">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b> Surf Excel Matic Front Load Detergent Powder </b><br /><br />
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 420</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-f">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Surf Excel Easy Wash Detergent Powder </b><br /><br />
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 616</b></span
            >
          </h1>
        </div>
      </ion-col>
    </ion-row></ion-grid
  >

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <div class="cover item-g">
                <div class="card-back">
                  <a href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <h1 style="font-size: 12px; color: gray">
              <b>Ariel Complete Detergent Washing Powder</b><br /><br />
              <span
                style="
                  font-family: Verdana, Geneva, Tahoma, sans-serif;
                  color: black;
                "
                ><b>Rs 800</b></span
              >
            </h1>
          </div>
        </div>
      </ion-col>

      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-h">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Ariel Detergent Washing Powder - Matic Top Load</b><br /><br />
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 453</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-i">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Rin Detergent Powder</b><br /><br /><br />
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 196</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-j">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b
              >Vanish Powder - Stain Remover & Detergent Booster For Clothes
            </b>
            <br /><br /><span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 198</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-k">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Ariel Detergent Washing Powder - Matic Top Load</b><br /><br />
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 1265</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-l">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Wheel Green Lemon & Jasmine Detergent Powder</b><br /><br />
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 150</b></span
            >
          </h1>
        </div>
      </ion-col>
    </ion-row></ion-grid
  >

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <div class="cover item-m">
                <div class="card-back">
                  <a href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <h1 style="font-size: 12px; color: gray">
              <b>Ghadi Detergent Powder </b><br /><br /><br />
              <span
                style="
                  font-family: Verdana, Geneva, Tahoma, sans-serif;
                  color: black;
                "
                ><b>Rs 210</b></span
              >
            </h1>
          </div>
        </div>
      </ion-col>

      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-n">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Dr. Octo Detergent Powder Front Load Natural Enzyme Powered</b
            ><br /><br />
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 256</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-o">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b
              >Dr. Octo Detergent Powder Top <br />Load Natural Enzyme
              Powered</b
            ><br /><br />
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 297</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-p">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Tide Matic Front Load Detergent Powder </b>
            <br /><br /><span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 539</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-q">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Active White Detergent Powder</b><br /><br /><br />
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 500</b></span
            >
          </h1>
        </div>
      </ion-col>
      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-r">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Tadak Bhadak Detergent <br />Powder</b><br /><br />
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 224</b></span
            >
          </h1>
        </div>
      </ion-col>
    </ion-row></ion-grid
  >

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <div class="cover item-s">
                <div class="card-back">
                  <a href="#">Add to cart</a>
                </div>
              </div>
            </div>
            <h1 style="font-size: 12px; color: gray">
              <b>Apolo detergent powder </b><br /><br />
              <span
                style="
                  font-family: Verdana, Geneva, Tahoma, sans-serif;
                  color: black;
                "
                ><b>Rs 550</b></span
              >
            </h1>
          </div>
        </div>
      </ion-col>

      <ion-col siz="2">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <div class="cover item-t">
              <div class="card-back">
                <a href="#">Add to cart</a>
              </div>
            </div>
          </div>
          <h1 style="font-size: 12px; color: gray">
            <b>Mayur detergent powder</b><br /><br />
            <span
              style="
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: black;
              "
              ><b>Rs 250</b></span
            >
          </h1>
        </div>
      </ion-col>
    </ion-row></ion-grid
  > <app-footer></app-footer>
</ion-content>
