<!-- <header class="headersection">
    <div class="search-bar">
      <ion-searchbar style="margin-left: 70px; width: 570px"></ion-searchbar>
    </div>
</header> -->
<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <img src="assets/food-logo.jpg" />
    </ion-buttons>
    <ion-toolbar style="margin-left: 50px">
      <button>
        <p>
          Select Location: <br />
          New Delhi
        </p>
      </button>
    </ion-toolbar>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
        <ion-badge color="warning">0</ion-badge>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="wallet"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
