
ion-header {
  --background: #fff;
  --padding-end: 20px;
  --padding-start: 20px;
  --padding-top: 0;
  --padding-bottom: 0;
  position: fixed;
}

ion-toolbar {
  --background: var(--ion-header-background);
  --ion-toolbar-border-width: 0;
  --ion-toolbar-box-shadow: none;
}

ion-title {
  --ion-color: black;
  font-size: 1.5rem;
  text-align: center;
}

ion-buttons {
  --color: black;
}

ion-button {
  --border-radius: 50px;
  --color: #fff;
  --background: #ffae42;
  --padding-start: 16px;
  --padding-end: 16px;
}

ion-icon {
  font-size: 1
}
img {
    height: 80px;
    width: 80px;

  }
