.footer_section {
  background-color: #374b3d;
  padding: 20px;
  position: sticky;
}
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
footer {
  display: block;
}
.footer_section p {
  font-size: 12px;
  margin: 0;
  text-align: center;
  color: #fefdfc;
}
.footer_section a {
  color: #fefdfc;
  text-decoration: none;
}
