// <!-- header-image -->
.image-hover {
  transition: transform 0.5s ease-in-out;
}
.image-hover:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .image-heading, .button1 ion-button {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.image-overlay {
  position: absolute;
  width: 700px;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
}
.image-heading {
  font-size: 24px;
}
.items{
  margin-top: 90px;
}
.row{
  margin-left: 40px;
}
.custom-card {
  height: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.custom-img:hover {
  transform: translateY(-20px);
}
.custom-row {
  flex: 1;
}
.custom-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.image-hover {
  transition: transform 0.5s ease-in-out;
}
.image-hover:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .image-heading, .button1 ion-button {
    display: block;
    width: 100%;
    text-align: center;
  }
}
// <!-- center image -->
.rounded-image {
  display: block;
  margin: 0 auto;
  border-radius:2%;
  overflow: hidden;
}
.image2{
  width: 80%;
}
.image-overlay1{
  position: absolute;
  width: 100px;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
.image-heading {
  font-size: 24px;
}
//  <!-- circle-image -->
.large-circle-card6{
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin-top: 1px;
margin-left: 100px;
}
.large-circle-card6 ion-img {
  border-radius: 50%;
  overflow: hidden;
}
.large-circle-card6:hover{
  background-color:#FE5D37;
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.large-circle-card6 {
  transition: transform 0.2s ease-in-out;
}
.large-circle-card6:hover {
  transform: translateY(-10px);
}
// <!-- image-card -->
.image-container {
  position: relative;
}
.overlay-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  width: calc(100% - 40px);
  padding: 10px;
}
.overlay-text h4 {
  color: black;
  font-weight: 700;
  margin-bottom: 10px;
}
.join-button {
  background-color: #FE5D37;
  color: white;
  padding: 5px;
  border-radius: 10%;
}
