<ion-content>
  <app-header></app-header>
  <ion-grid class="items">
    <!-- header-image -->
  <div class="image1">
    <img
      src="assets/bacola-banner-11.jpg"
      alt="Wild Landscape"
      style="width: 100%; max-height: 500px"
    />
    <div class="image-overlay">
      <h2
        class="image-heading"
        style="
          font-size: 30px;
          margin-top: 130px;
          color: white;
          font-weight: 900;
          font-family: 'Lobster Two', cursive;
          font-weight: 700;
          font-size: calc(1.375rem + 1.5vw);
          display: inline-block;
        "
      >
        Fresh Grocery
      </h2>
      <br />
      <p
        style="
          color: white;
          font-size: 30px;
          font-weight: 900;
          display: inline-block;
          font-weight: 900;
          font-family: 'Lobster Two', cursive;
          font-weight: 700;
          font-size: calc(1.375rem + 1.5vw);
          display: inline-block;
        "
      >
        Your Favourite Grocery is now Online
      </p>
      <ion-buttons slot="end">
        <ion-button
          class="join-button"
          style="
            background-color: #FE5D37;
            color: white;
            padding: 5px;
            border-radius: 10%;
          "
        >
          SHOP NOW
        </ion-button>
      </ion-buttons>
    </div>
  </div>
    <ion-row class="row">
      <ion-col>
        <a href="detergent">
          <ion-img
            src="assets/grocery.png"
            class="image-hover"
            style="width: 100px; height: 100px"
          ></ion-img
        ></a>
      </ion-col>
      <ion-col>
        <ion-img
          src="assets/mobile1.png"
          class="image-hover"
          style="width: 100px; height: 90px"
        ></ion-img>
      </ion-col>
      <ion-col>
        <ion-img
          src="assets/electronics2.png"
          class="image-hover"
          style="width: 100px; height: 100px"
        ></ion-img>
      </ion-col>
      <ion-col>
        <ion-img
          src="assets/home.png"
          class="image-hover"
          style="width: 100px; height: 100px"
        ></ion-img>
      </ion-col>
      <ion-col>
        <ion-img
          src="assets/personal.jpg"
          class="image-hover"
          style="width: 100px; height: 100px"
        ></ion-img>
      </ion-col>
      <ion-col>
        <ion-img
          src="assets/toy.png"
          class="image-hover"
          style="width: 100px; height: 100px"
        ></ion-img>
      </ion-col>
      <ion-col>
        <ion-img
          src="assets/appliances.png"
          class="image-hover"
          style="width: 100px; height: 100px"
        ></ion-img>
      </ion-col>
      <ion-col>
        <ion-img
          src="assets/pet2.png"
          class="image-hover"
          style="width: 100px; height: 100px"
        ></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- card-section -->
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-card class="custom-card">
          <ion-card-title
            style="text-align: center; margin-bottom: 20px; margin-top: 20px"
            >Up to 40% off | Women</ion-card-title
          >
          <ion-row class="custom-row">
            <ion-col size="6">
              <ion-img src="assets/images (2).jpg" class="custom-img"></ion-img>
              <ion-card-subtitle style="text-align: center"
                >Personal Care</ion-card-subtitle
              >
            </ion-col>
            <ion-col size="6">
              <ion-img src="assets/images (1).jpg" class="custom-img"></ion-img>
              <ion-card-subtitle style="text-align: center"
                >Watches</ion-card-subtitle
              >
            </ion-col>
          </ion-row>
          <ion-row class="custom-row">
            <ion-col size="6">
              <ion-img
                src="assets/download (2).jpg"
                class="custom-img"
              ></ion-img>
              <ion-card-subtitle style="text-align: center"
                >Household Care</ion-card-subtitle
              >
            </ion-col>
            <ion-col size="6">
              <ion-img src="assets/images (4).jpg" class="custom-img"></ion-img>
              <ion-card-subtitle style="text-align: center"
                >Footwear</ion-card-subtitle
              >
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card class="custom-card">
          <ion-card-title
            style="text-align: center; margin-bottom: 20px; margin-top: 20px"
            >Up to 40% off | Men
          </ion-card-title>
          <ion-row class="custom-row">
            <ion-col size="6">
              <ion-img src="assets/images (7).jpg" class="custom-img"></ion-img>
              <ion-card-subtitle style="text-align: center"
                >Clothing</ion-card-subtitle
              >
            </ion-col>
            <ion-col size="6">
              <ion-img src="assets/images (8).jpg" class="custom-img"></ion-img>
              <ion-card-subtitle style="text-align: center"
                >Bags</ion-card-subtitle
              >
            </ion-col>
          </ion-row>
          <ion-row class="custom-row">
            <ion-col size="6">
              <ion-img src="assets/images (9).jpg" class="custom-img"></ion-img>
              <ion-card-subtitle style="text-align: center"
                >Watches</ion-card-subtitle
              >
            </ion-col>
            <ion-col size="6">
              <ion-img
                src="assets/images (10).jpg"
                class="custom-img"
              ></ion-img>
              <ion-card-subtitle style="text-align: center"
                >Footwear</ion-card-subtitle
              >
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card class="custom-card">
          <ion-card-title
            style="text-align: center; margin-bottom: 20px; margin-top: 20px"
            >Daily Needs | Grocery
          </ion-card-title>
          <ion-row class="custom-row">
            <ion-col size="6">
              <ion-img
                src="assets/images (11).jpg"
                class="custom-img"
              ></ion-img>
              <ion-card-subtitle style="text-align: center"
                >Atta & Other Flours</ion-card-subtitle
              >
            </ion-col>
            <ion-col size="6">
              <ion-img
                src="assets/images (12).jpg"
                class="custom-img"
              ></ion-img>
              <ion-card-subtitle style="text-align: center"
                >Edible Oil</ion-card-subtitle
              >
            </ion-col>
          </ion-row>
          <ion-row class="custom-row">
            <ion-col size="6">
              <ion-img
                src="assets/download (6).jpg"
                class="custom-img"
              ></ion-img>
              <ion-card-subtitle style="text-align: center"
                >Tea, Coffee & Drinks
              </ion-card-subtitle>
            </ion-col>
            <ion-col size="6">
              <ion-img
                src="assets/images (15).jpg"
                class="custom-img"
              ></ion-img>
              <ion-card-subtitle style="text-align: center"
                >Rice & Other Grains</ion-card-subtitle
              >
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card class="custom-card">
          <ion-card-title
            style="text-align: center; margin-bottom: 20px; margin-top: 20px"
            >Electrical and Electronic Appliances
          </ion-card-title>
          <ion-row class="custom-row">
            <ion-col size="6">
              <ion-img
                src="assets/images (16).jpg"
                class="custom-img"
              ></ion-img>
              <ion-card-subtitle style="text-align: center"
                >Lights</ion-card-subtitle
              >
            </ion-col>
            <ion-col size="6">
              <ion-img
                src="assets/download (7).jpg"
                class="custom-img"
              ></ion-img>
              <ion-card-subtitle style="text-align: center"
                >Air Conditioners</ion-card-subtitle
              >
            </ion-col>
          </ion-row>
          <ion-row class="custom-row">
            <ion-col size="6">
              <ion-img
                src="assets/download (8).jpg"
                class="custom-img"
              ></ion-img>
              <ion-card-subtitle style="text-align: center">
                Mixer grinder</ion-card-subtitle
              >
            </ion-col>
            <ion-col size="6">
              <ion-img
                src="assets/images (17).jpg"
                class="custom-img"
              ></ion-img>
              <ion-card-subtitle style="text-align: center"
                >Mobile</ion-card-subtitle
              >
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- center image -->
  <ion-grid style="display: flex; justify-content: center; align-items: center">
    <ion-row class="image2">
      <ion-col>
        <img src="assets/bacola-banner-11.jpg" class="rounded-image" />
        <div class="image-overlay1">
          <h2
            class="image-heading"
            style="
              font-size: 20px;
              color: white;
              font-family: 'Lobster Two', cursive;
              font-weight: 500;
              display: inline-block;
            "
          >
            WEEKEND DISCOUNT 40%
          </h2>
          <p
            style="
              color: black;
              font-size: 20px;
              font-family: 'Lobster Two', cursive;
              font-weight: 500;
            "
          >
            Cookie and Ice Cream
          </p>
        </div>
      </ion-col>
      <ion-col>
        <img src="assets/bacola-banner-12.jpg" class="rounded-image" />
        <div class="image-overlay1">
          <h2
            class="image-heading"
            style="
              font-size: 20px;
              color: white;
              font-family: 'Lobster Two', cursive;
              font-weight: 500;
              display: inline-block;
            "
          >
            WEEKEND DISCOUNT 40%
          </h2>
          <p
            style="
              color: black;
              font-size: 20px;
              font-family: 'Lobster Two', cursive;
              font-weight: 500;
            "
          >
            Cookie and Ice Cream
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- circle-image -->
   <ion-grid>
    <ion-row>
      <ion-col size-md="4" size-sm="6" size-xs="12">
        <ion-card class="large-circle-card6">
          <ion-card-content>
            <ion-img src="assets/topdeals.jpg"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="4" size-sm="6" size-xs="12">
        <ion-card class="large-circle-card6">
          <ion-card-content>
            <ion-img src="assets/alloffers (1).jpg"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="4" size-sm="6" size-xs="12">
        <ion-card class="large-circle-card6">
          <ion-card-content>
            <ion-img src="assets/bigsaving.jpg"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="4" size-sm="6" size-xs="12">
        <ion-card class="large-circle-card6">
          <ion-card-content>
            <ion-img src="assets/newproduct.jpg"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="4" size-sm="6" size-xs="12">
        <ion-card class="large-circle-card6">
          <ion-card-content>
            <ion-img src="assets/trend.jpg"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="4" size-sm="6" size-xs="12">
        <ion-card class="large-circle-card6">
          <ion-card-content>
            <ion-img src="assets/mobile-shop.jpeg"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
<!-- image card -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4">
        <div class="image-container">
          <ion-img
            src="assets/home-banner-21 (1).jpg"
            style="width: 100%; height: 100%; object-fit: cover"
          ></ion-img>
          <div class="overlay-text">
            <h4>Organic Breakfasts</h4>
            <ion-buttons slot="end">
              <ion-button class="join-button">SHOP NOW</ion-button>
            </ion-buttons>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" size-md="4">
        <div class="image-container">
          <ion-img
            src="assets/home-banner-20 (1).jpg"
            style="width: 100%; height: 100%; object-fit: cover"
          ></ion-img>
          <div class="overlay-text">
            <h4>Organic Baby Food</h4>
            <ion-buttons slot="end">
              <ion-button class="join-button">SHOP NOW</ion-button>
            </ion-buttons>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" size-md="4">
        <div class="image-container">
          <ion-img
            src="assets/images (34).jpg"
            style="width: 100%; height: 100%; object-fit: cover"
          ></ion-img>
          <div class="overlay-text">
            <h4>Organic Breakfasts</h4>
            <ion-buttons slot="end">
              <ion-button class="join-button">SHOP NOW</ion-button>
            </ion-buttons>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- footer-text -->
  <div class="ion-padding" style="background-color: #103741">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="3">
          <h3
            style="
              color: white;
              font-size: 18px;
              font-family: 'Lobster Two', cursive;
              font-weight: 700;
              font-size: calc(1.3rem + 0.6vw);
            "
          >
            NEWSLETTER
          </h3>
          <p style="color: grey">Subscribe to our newsletter for updates</p>
          <ion-input
            type="email"
            placeholder="email"
            fill="outline"
          ></ion-input>
        </ion-col>
        <ion-col size="12" size-sm="3">
          <h3
            style="
              color: white;
              font-size: 18px;
              font-family: 'Lobster Two', cursive;
              font-weight: 700;
              font-size: calc(1.3rem + 0.6vw);
            "
          >
            Photo Gallery
          </h3>
          <ion-row>
            <ion-col size="4">
              <img src="assets/icon/classes-1 (1).jpg" />
            </ion-col>
            <ion-col size="4">
              <img src="assets/icon/classes-2 (1).jpg" />
            </ion-col>
            <ion-col size="4">
              <img src="assets/icon/classes-3 (1).jpg" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <img src="assets/icon/classes-4 (1).jpg" />
            </ion-col>
            <ion-col size="4">
              <img src="assets/icon/classes-5 (1).jpg" />
            </ion-col>
            <ion-col size="4">
              <img src="assets/icon/classes-6 (1).jpg" />
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12" size-sm="3">
          <h3
            style="
              color: white;
              font-size: 18px;
              font-family: 'Lobster Two', cursive;
              font-weight: 700;
              font-size: calc(1.3rem + 0.6vw);
            "
          >
            QUICK LINKS
          </h3>
          <p style="color: grey">Search</p>
          <p style="color: grey">About us</p>
          <p style="color: grey">FAQ</p>
          <p style="color: grey">Privacy Policy</p>
          <p style="color: grey">Terms & Condition</p>
        </ion-col>
        <ion-col size="12" size-sm="3">
          <h3
            style="
              color: white;
              font-size: 18px;
              font-family: 'Lobster Two', cursive;
              font-weight: 700;
              font-size: calc(1.3rem + 0.6vw);
            "
          >
            Get In Touch
          </h3>
          <p style="color: grey">
            Available between 8AM to 8PM.Ready to answer your questions.
          </p>
          <p style="color: grey">
            <ion-icon name="call-outline"></ion-icon>(+1)525 5252225
          </p>
          <p style="color: grey">
            <ion-icon name="mail-open-outline"></ion-icon>info@yourstore.com
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <app-footer></app-footer>
</ion-content>
